@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
        /* if padding is added, width is not affected */
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
        /* centers the column in the middle of page */
    justify-content:center;
    height: 100vh;
    overflow:hidden;
        /* hides scroll bars */
}

.bg {
    background: url('https://www.cnet.com/a/img/resize/3491fe331e64578fb656f18ac80a956206df65fd/hub/2022/10/19/b5925c18-5f1f-48d7-aa47-b5091a5670d6/stsci-01gf49bhzj1wx8w803281hrbcw.jpg?auto=webp&fit=crop&height=675&width=1200') no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px)
}

.loading-text {
    font-size: 50px;
    color: white;
}

.caption {
    visibility:hidden;
    transition: visibility 0.3s ease-in;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    font-family: 'Press Start 2P', cursive;
    box-shadow:10px 8px rgb(55, 55, 255);
}

a:link {
    text-decoration: none;
    color: goldenrod
}

a:visited {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: goldenrod;
}

a:active {
    text-decoration: none;
    color: rgb(55, 55, 255)
}

button {
    border: none;
}

button:active {
    transform: translateY(8px) translateX(6px);
    box-shadow: 2px 2px rgb(55, 55, 255);
}
